In [3]:
l=[1,2,3,4,'pavan']

In [5]:
for i in l:
    print(i)
else:
    print('its okay')

1
2
3
4
pavan
its okay

In [18]:
for i in l:
    if i==3:
        break
        print(i)
else:
    print('its okay')

In [19]:
for i in l:
    if i==3:
        break
    print(i)
else:
    print('its okay')

1
2

In [22]:
for i in l:
    if i==3:
        break
  print(i)
else:
    print('its okay')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [23]:
u='pavankumars'

In [25]:
for i in u:
    if i=='s':
        break
    print(i)

p
a
v
a
n
k
u
m
a
r

In [28]:
for i in u:
    if i=='x':
        break
    print(i)
else:
    print('its okay',u)

p
a
v
a
n
k
u
m
a
r
s
its okay pavankumars

In [29]:
t=(1,2,3,'pavan')

In [30]:
for i in t:
    print(i)

1
2
3
pavan

In [31]:
for i in t:
    if i=="pavan":
        break
    print(i)

1
2
3

In [33]:
list(t)

[1, 2, 3, 'pavan']

In [37]:
set(t)

{1, 2, 3, 'pavan'}

In [38]:
d={'key1':'pavan','key2':'kumar','xyz':123}

In [39]:
for i in d:
    print(i)

key1
key2
xyz

In [40]:
for i in d:
    print(d[i])

pavan
kumar
123

In [41]:
for i in d:
    print(i,d[i])

key1 pavan
key2 kumar
xyz 123

In [42]:
for i in d:
    print(i,':',d[i])

key1 : pavan
key2 : kumar
xyz : 123

In [43]:
for i in d:
    print(i,'-',d[i])

key1 - pavan
key2 - kumar
xyz - 123

In [44]:
range(8)

range(0, 8)

In [46]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
tuple(range(100))

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99)

In [48]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [56]:
set(range(50,100,5))

{50, 55, 60, 65, 70, 75, 80, 85, 90, 95}

In [58]:
tuple(range(0,100,10))

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

In [108]:
n=5
for i in range(n):
    for j in range(i+1):
        print(3,end="+")
    print('\n')

3+

3+3+

3+3+3+

3+3+3+3+

3+3+3+3+3+

In [78]:
range(4)

range(0, 4)

In [109]:
n=5
for i in range(n):
    for j in range(i+1):
        print(3,end="+")
    print()

3+
3+3+
3+3+3+
3+3+3+3+
3+3+3+3+3+

In [110]:
n=5
for i in range(n):
    for j in range(i):
        print(3,end="+")
    print()

3+
3+3+
3+3+3+
3+3+3+3+

In [112]:
n=3
for i in range(n):
    for j in range (i,n-1):
        print(' '*len('pavan'),end=' ')
    for j in range(i+1):
        print('pavan',end=" ")
    for j in range(i):
        print('pavan',end=' ')
    print('\n')

            pavan

      pavan pavan pavan

pavan pavan pavan pavan pavan

In [116]:
n=6
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('1234'),end=" ")
    for j in range(i+1):
        print('1234',end=' ')
    for j in range(i):
        print('1234',end=' ')
    print()

                         1234
                    1234 1234 1234
               1234 1234 1234 1234 1234
          1234 1234 1234 1234 1234 1234 1234
     1234 1234 1234 1234 1234 1234 1234 1234 1234
1234 1234 1234 1234 1234 1234 1234 1234 1234 1234 1234

In [123]:
t=(1,2,34,25,467,85)
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 34
3 25
4 467
5 85

In [124]:
t=(1,2,34,25,467,85)
for i in range(len(t)):
    if i==3:
        break
    print(i,t[i])

0 1
1 2
2 34

In [128]:
s=['pavan','kumar','uppala','satish']
for i in range(len(s)):
    print(i+1,s[i])

1 pavan
2 kumar
3 uppala
4 satish

In [135]:
s='pavan'
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

4 n
3 a
2 v
1 a
0 p

In [136]:
s='pavan'
for i in range(len(s)-1,-1,-1):
    print(i+1,s[i])

5 n
4 a
3 v
2 a
1 p

In [137]:
d={'key1':'pavan','key2':'kumar','key3':'uppala'}
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'pavan') <class 'tuple'> <class 'str'>
('key2', 'kumar') <class 'tuple'> <class 'str'>
('key3', 'uppala') <class 'tuple'> <class 'str'>

In [138]:
s='pavan'
for i in s(-7,-1,-1):
    print(i+1,s[i])

TypeError: 'str' object is not callable

In [144]:
t=(1,2,34,25,467,85)
for i in t:
    if t[i]==25:
        break
    print(t[i])

2
34

IndexError: tuple index out of range

In [145]:
l=['pavan',123,23,1,'kumar']
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [146]:
l1

[123, 23, 1]

In [152]:
d={'key1':'pavan','key2':'kumar',123:'rlsx',456:123}
for i in d:
    if type(i)==int:
        print(i,':',d[i])

123 : rlsx
456 : 123

In [157]:
s='pavankumar'
for i in s:
    print(i,':',s.count(i))

p : 1
a : 3
v : 1
a : 3
n : 1
k : 1
u : 1
m : 1
a : 3
r : 1

In [158]:
s='pavankumar'
for i in set(s):
    print(i,':',s.count(i))

u : 1
a : 3
p : 1
k : 1
m : 1
n : 1
r : 1
v : 1

In [159]:
set(s)

{'a', 'k', 'm', 'n', 'p', 'r', 'u', 'v'}

In [160]:
list(s)

['p', 'a', 'v', 'a', 'n', 'k', 'u', 'm', 'a', 'r']

In [161]:
tuple(s)

('p', 'a', 'v', 'a', 'n', 'k', 'u', 'm', 'a', 'r')

In [162]:
i='pavan'
for j in i:
    print(j)

p
a
v
a
n

In [163]:
i=123456
for j in i:
    print(i)

TypeError: 'int' object is not iterable

In [165]:
i=123456
for j in str(i):
    print(j,type(j))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>

In [168]:
i=123456
for j in str(i):
    print(int(j),type(int(j)))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [169]:
str(i)

'123456'

In [170]:
i

123456

In [171]:
t=('pavan','kumar',123,[1,23],{123:456,456:789,789:143})

In [173]:
t[2]

123

In [176]:
t=('pavan','kumar',[1,2,3,4],{1,2,3,4,5},(1,2,3))

In [178]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [179]:
d

{'key1': 'pavan', 'key2': 'kumar', 123: 'rlsx', 456: 123}

In [180]:
for i in d:
    print(i)

key1
key2
123
456

In [181]:
for i in d.items():
    print(i)

('key1', 'pavan')
('key2', 'kumar')
(123, 'rlsx')
(456, 123)

In [182]:
for i in d.values():
    print(i)

pavan
kumar
rlsx
123