In [ ]:
#recieve full name
name=input('Enter full name:')
#seperate first and middle, last name
fname,mname,lname=input('Enter full name:').split()

Enter full name:uppalapavankumar
Enter full name:uppala pavan kumar

In [ ]:
fname

'uppala'

In [ ]:
lname

'kumar'

In [ ]:
n,n1,n2=[int(n) for n in input('Enter three values:').split()]
print(n+n1+n2)

Enter three values:5 4 5
14

In [ ]:
n1,n3,n4=input('Enter three values:').split()

Enter three values:5 6 8

In [ ]:
n4

'8'

In [ ]:
print(int(n1)+int(n2)+int(n3))

16

In [ ]:
numbers =[int(x) for  x in input('Enter the values:').split()]
for n in numbers:
  print(n+10)

Enter the values:2 25 588 888 21 2 5
12
35
598
898
31
12
15

In [ ]:
data=input('Enter name,age,salary:').split()
name=data[0]
age=int(data[1])
salary=float(data[2])
print(data)
age

Enter name,age,salary:saivinay 26 25000.154
['saivinay', '26', '25000.154']

26

In [ ]:
print(name,age,sep='1',end='@gmail.com')

saivinay126@gmail.com

In [ ]:
r,l,b=1.5678,10.5,2.66
print(f'radius={r}')
print('radius',r,sep='=',end=' metre\n')
print(f'length={l},breadth={b},radius={r}')
print('length={} breadth={} radius={}'.format(l,b,r))
print('length={2} breadth={1} radius={0}'.format(l,b,r))

radius=1.5678
radius=1.5678 metre
length=10.5,breadth=2.66,radius=1.5678
length=10.5 breadth=2.66 radius=1.5678
length=1.5678 breadth=2.66 radius=10.5

In [ ]:
name='Sushant Ajay Raje'
for n in name.split():
  print(f'{n:1}') #prints in 1column.

Sushant
Ajay
Raje

In [ ]:
#Write a program to recieve radius of a circle , and length and breadth of a rectangle in one call input().Calculate and print the circumference of circle and perimeter of a rectangle.
r,l,b=[int(n) for n in input('Enter the radius and length,breadth :').split()]
circumference=2*3.14*r
perimetre=2*(l+b)
print(round(circumference,2),perimetre)

Enter the radius and length,breadth :5 6 8
31.4 28

In [ ]:
#Write a program to recieve 3 integers using one call to input(). 
#The three integers signify value, ending value and step value for a range. 
#The program should use these values to print the number,its square and its cube,all properly right-aligned.
# Also output the same values left-aligned.
start,end,step=[int(n) for n in input('Enter start, end,step values:').split()]
for n in range(start,end,step):
  print(f'{n:>3}{n**2:>4}{n**3:>4}')
print()
for n in range(start,end,step):
  print('{0:<3}{1:<3}{2:<3}'.format(n,n**2,n**3))

Enter start, end,step values:1 10 2
  1   1   1
  3   9  27
  5  25 125
  7  49 343
  9  81 729

1  1  1
3  9  27
5  25 125
7  49 343
9  81 729

In [ ]:
#Write a program to maintain names and cell numbers of 4 persons and then print them systematically in a tabular form.
contacts={
    'Dilip':9823077892 , 'Shekhar':6784512345,'Vivek':9823011245}
for name ,cellno in contacts.items():
  print(f'{name:15}:{cellno:11}')

Dilip          : 9823077892
Shekhar        : 6784512345
Vivek          : 9823011245

In [ ]:
#Suppose there are 5 variables in a program-max,min,mean and sd and var,having some suitable values.
#Write a program to print these variables properly aligned using multiple fstrings,but one call to print().
min,max=25,56
mean=35
sd=0.56
var=0.9
print(
    f'\n{"Max value:":<15}{max:>10}',
    f'\n{"Min value:":<15}{min:>10}',
    f'\n{"Mean:":<15}{mean:>10}',
    f'\n{"sd:":<15}{sd:>10}',
    f'\n{"var:":<15}{var:>10}'
)

Max value:             56
Min value:             25
Mean:                  35
sd:                  0.56
var:                  0.9

In [18]:
#Write a program that prints square root and cube root of numbers from 1 to 10,up to 3 decimal places. 
#Ensure that the output is displayed in separate lines, with number center-justified and square and cube roots,right-justified.
import math
for n in range(1,10):
  s=round(math.sqrt(n),3)
  c=round(math.pow(n,1/3),3)
  print(f'{n:^5}{s:10}{c:10}') # here we use '^' for center....

  1         1.0       1.0
  2       1.414      1.26
  3       1.732     1.442
  4         2.0     1.587
  5       2.236      1.71
  6       2.449     1.817
  7       2.646     1.913
  8       2.828       2.0
  9         3.0      2.08