In [1]:
a=int(input('Enter an integer:'))
b=int(input('Enter an integer:'))
a/b

Enter an integer:1
Enter an integer:0

ZeroDivisionError: ignored

In [8]:
try:
  a=int(input())
  b=int(input())
  c=a/b
except ZeroDivisionError:
  print('denominator shouldn\'t be zero')

1
0
denominator shouldn't be zero

In [6]:
0
a=int(input('Enter an integer:'))
b=int(input('Enter an integer:'))
try:
  c=a/b
except ZeroDivisionError:
  print('Denominator is zero...')
except ValueError:
  print('Unable to convert string to int')

Enter an integer:1
Enter an integer:0

In [18]:
class InsufficientBalanceError(Exception):
  def __init__(self,accno,cb):
    self.__accno=accno
    self.__curbal=cb
  def get_details(self):
    return {'Acc no':self.__accno,'Current Balance':self.__curbal}
class Customers:
  def __init__(self):
    self.__dct={}
  def append(self,accno,n,bal):
    self.__dct[accno]={'Name':n,'Balance':bal}
  def deposit(self,accno,amt):
    d=self.__dct[accno]
    d['Balance']=d['Balance']+amt
    self.__dct[accno]=d
  def display(self):
    for k,v in self.__dct.items():
      print(k,v)
    print()
  def withdraw(self,accno,amt):
    d=self.__dct[accno]
    curbal=d['Balance']
    if curbal-amt<5000:
      raise InsufficientBalanceError(accno,curbal)
    else:
      d['Balance']=d['Balance']-amt
      self.__dct[accno]=d
c=Customers()
c.append(2144,'pavankuamarf',348)
c.display()
c.deposit(2144,85)
c.display()
try:
  c.withdraw(2144,5000)
  print('Amount withdrawn successfully..')
  c.display()
  c.withdraw(2144,1000)
  print('Amount withdrawn successfully...')
  c.display()
except InsufficientBalanceError as ibe:
  print('Withdrawal denied ..')
  print('Insufficient balance..')
  print(ibe.get_details())

2144 {'Name': 'pavankuamarf', 'Balance': 348}

2144 {'Name': 'pavankuamarf', 'Balance': 433}

Withdrawal denied ..
Insufficient balance..
{'Acc no': 2144, 'Current Balance': 433}

In [22]:
lst=[33,34,53,123,45,'pavan']
try:
  for num in lst:
    i=int(num)
    j=i*i
    print(i,j)
except ValueError:
  print(ValueError.args)
  print('This value is not an integer...')
else:
  print('Total numbers processed ... ', len(lst))
  del(lst)

33 1089
34 1156
53 2809
123 15129
45 2025
<attribute 'args' of 'BaseException' objects>
This value is not an integer...

In [23]:
lst=[33,34,53,123,45]
try:
  for num in lst:
    i=int(num)
    j=i*i
    print(i,j)
except ValueError:
  print(ValueError.args)
  print('This value is not an integer...')
else:
  print('Total numbers processed ... ', len(lst))
  del(lst)

33 1089
34 1156
53 2809
123 15129
45 2025
Total numbers processed ...  5