In [1]:
def func():
  print('Hello')
def sum(x,y):
  print(x+y)
f=func
f()
g=sum
g(10,20)

Hello
30

In [2]:
def sum(x,y,f):
  print(x+y)
  f()
def func():
  print('Hello')
f=func
sum(10,20,f)

30
Hello

In [4]:
lambda n:n*n*n
lambda x,y,z:(x+y+z)

In [5]:
lambda s:s.trim().upper()

In [6]:
print((lambda n:n*n*n)(3))

27

In [10]:
print((lambda x,y,z:(x+y+z))(3,2,1))

6

In [12]:
print((lambda s:s.lstrip().rstrip().upper())('  Ngp  '))

NGP

In [13]:
p=lambda n:n*n
print(p(3))

9

In [15]:
print(p(4))

16

In [2]:
d={'Oil':34,'clip':56,'stud':28,'nut':900}
d1=sorted(d.items(),key=lambda kv :kv[1])
print(d1)

[('stud', 28), ('Oil', 34), ('clip', 56), ('nut', 900)]

In [5]:
import math
def fun(n):
  return n*n
lst=[5,3,35,34,2]
for i in lst:
  print(fun(i))

25
9
1225
1156
4

In [6]:
m1=map(math.radians,lst)
m2=map(math.factorial,lst)
m3=map(fun,lst)
print(list(m1))
print(list(m2))
print(list(m3))

[0.08726646259971647, 0.05235987755982989, 0.6108652381980153, 0.5934119456780721, 0.03490658503988659]
[120, 6, 10333147966386144929666651337523200000000, 295232799039604140847618609643520000000, 2]
[25, 9, 1225, 1156, 4]

In [8]:
def fun(n):
  if n%5==0:
    return True
  else:
    return False
lst1=['A','X','E','3','4','G']
f1=filter(str.isalpha,lst1)
print(list(f1))
lst2=[5,10,18,27,45]
f2=filter(fun,lst2)
print(list(f2))

['A', 'X', 'E', 'G']
[5, 10, 45]

In [9]:
from functools import reduce
def getsum(x,y):
  return x+y
def getprod(x,y):
  return x*y
lst=[2,3,5,6,53]
s=reduce(getsum,lst)
p=reduce(getprod,lst)
print(s)
print(p)

69
9540

In [13]:
lst1=[5,10,15,30,50]
m=map(lambda n:n*n,lst1)
print(list(m))
lst2=[5,10,33,55,32]
f=filter(lambda n:n%5==0,lst2)
print(list(f))
lst3=[1,3,4,5,6]
s=reduce(lambda x,y:x+y,lst3)
print(s)

[25, 100, 225, 900, 2500]
[5, 10, 55]
19

In [14]:
p=reduce(lambda x,y:x*y,lst3)
print(s,p)

19 360

In [16]:
def fun(n):
  return n>1000
lst=[10,30,59,50]
l=filter(fun,map(lambda x:x*x,lst))
print(list(l))

[3481, 2500]

In [17]:
def fun():
  print('in func')
def disp():
  print('in disp')
def msg():
  print('in message')
lst=[fun,disp,msg]
for f in lst:
  f()

in func
in disp
in message

In [18]:
# suppose there are two lists,one containing numbers from 1 to 6, and other containing numbers from 6 to 1.Write a program to obtain a list that contains elements obtained by adding corresponding elements of the two lists.
lst1=[1,2,3,4,5,6]
lst2=[6,5,4,3,2,1]
result=map(lambda n1,n2:n1+n2,lst1,lst2)
print(list(result))

[7, 7, 7, 7, 7, 7]

In [19]:
#write a program to create a new list by obtaining square of all numbers in a list.
lst1=[5,7,9,-3,4,2]
lst2=map(lambda n:n*n,lst1)
print(list(lst2))

[25, 49, 81, 9, 16, 4]

In [1]:
#Though map() function is available ready-made in Python, can you defineone yourself and test it?
def my_map(fun,seq):
  result=[]
  for ele in seq:
    result.append(fun(ele))
  return result
lst1=[5,6,7,-3,2,1]
lst2=list(my_map(lambda n:n**2,lst1))
print(lst2)

[25, 36, 49, 9, 4, 1]

In [16]:
# Following data shows names,ages and marks of students in a class:
#Anil,21,80
#Sohail,20,90
#Sunil,20,91
#Shobha,18,93
#Anil,19,85

#write a program to sort this data on multiple keys in the order name,age and marks.

import operator
lst=[('Anil',21,80),('Sohail',20,90),('Sunil',20,91),('Shobha',18,93),('Anil',19,85),('Shobha',20,92)]
print(sorted(lst,key=operator.itemgetter(0,1,2)))
print(sorted(lst,key=lambda tpl:(tpl[0],tpl[1],tpl[2])))

[('Anil', 19, 85), ('Anil', 21, 80), ('Shobha', 18, 93), ('Shobha', 20, 92), ('Sohail', 20, 90), ('Sunil', 20, 91)]
[('Anil', 19, 85), ('Anil', 21, 80), ('Shobha', 18, 93), ('Shobha', 20, 92), ('Sohail', 20, 90), ('Sunil', 20, 91)]

In [20]:
#Suppose a dictionary contain key-value pairs,where key is an alphabet and value is a number.Write a program that obtains the maximum and minimum values from the dictionary.
d={'x':25,'y':522,'z':255,'v':525}
key_max=max(d.keys(),key=(lambda k:d[k]))
key_min=min(d.keys(),key=(lambda k:d[k]))
print('Maximum Value:',d[key_max])
print('Minimum Value:',d[key_min])

Maximum Value: 525
Minimum Value: 25