In [ ]:
def reverse_integer(num,no_digits):
  
  if num<0:
    reverse_num=0
    num = abs(num)
    while num>0:
      remainder = num % 10
      reverse_num = (reverse_num * 10) + remainder
      num = num // 10
    reverse_num = -reverse_num
  else:
    reverse_num=0
    while num > 0:
      remainder = num % 10 
      reverse_num = (reverse_num * 10) + remainder
      num = num // 10

  return '{:0{}d}' .format(reverse_num,no_digits)



print(reverse_integer(0,1))
print(reverse_integer(-225,3))
print(reverse_integer(5500,4))

0
-522
0055

In [ ]:
def check_armstrong_no(num):
  no_of_digits = len(str(num))
  sum_of_exps=0
  for digit in str(num):
    sum_of_exps += int(digit) ** no_of_digits
  if sum_of_exps==num:
    return True
  else:
    return False

print(check_armstrong_no(153))
print(check_armstrong_no(154))
print(check_armstrong_no(1634))

True
False
True

In [ ]:
def check_prime(num):
  if num < 2:
    return False
  for i in range(2,int(num ** 0.5)+1):
    if num % i == 0:
      return False
  return True

print(check_prime(15))
print(check_prime(5))

False
True

In [ ]:
def fibonacci_gen(n):
    if n==0:
      return []
    elif n==1:
      return [0]
    else:
      fib=[0,1]
      for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
      return fib

print(fibonacci_gen(5))
print(fibonacci_gen(0))
print(fibonacci_gen(1))

[0, 1, 1, 2, 3]
[]
[0]

In [ ]:
def check_palindrome(num):
  num_str=str(num)
  length=len(num_str)
  for i in range(length // 2):
    if num_str[i] != num_str[length-i-1]:
      return False
  return True

print(check_palindrome(12321))
print(check_palindrome(12320))
print(check_palindrome(121))

True
False
True

In [ ]:
def find_greatest(*args):
  greatest= float('-inf')
  for num in args:
    if num > greatest:
      greatest = num
  return greatest

nums=[1,2,85454,54,24545,2454,2454,2644,854,8]
find_greatest(*nums)

85454

In [ ]:
def check_binary(num):
  for digit in str(num):
    if digit not in ['0','1']:
      return False
  return True
num1=110000111
print(f"{num1} is binary: {check_binary(num1)}")
num1=1001112
print(f"{num1} is binary: {check_binary(num1)}")

110000111 is binary: True
1001112 is binary: False

In [ ]:
def check_perfect_number(num):
  sum=0
  for divisor in range(1,num):
    if num%divisor==0:
      sum+=divisor
      print(divisor)
  if sum==num:
    return True
  else:
    return False


check_perfect_number(28)

1
2
4
7
14

True

In [ ]:
def is_leap_year(y):
  if y%4==0 and (y%100!=0 or y%400==0):
    return True
  else:
    return False

is_leap_year(2020)

True

In [ ]:
def sp_interest(p,r,t):
  si=(p*r*t)/100
  p=print('simple interest is:',si)
  return p


sp_interest(10000,5,2)

simple interest is: 1000.0

In [ ]:
def cel_to_far(c):
  far=(c*1.8)+32
  return far

cel_to_far(300)

572.0

In [ ]:
def swap_two(a,b):
  a=a+b
  b=a-b
  a=a-b
  return a,b
swap_two(2,3)

(3, 2)

In [ ]:
def swap_two1(a,b):
  t=a
  a=b
  b=t
  return a,b

swap_two1(2,3)

(3, 2)

In [ ]:
def add_two(a,b):
  while b!=0:
    carry = a & b
    a = a ^ b
    b = carry<<1
  return a
add_two(2,3)

5

In [ ]:
def check_perfect(n):
  sum=0
  for divisor in range(1,n):
    if n%divisor==0:
      sum+=divisor
  if sum==n:
      return True
  else:
    return False

check_perfect(6)

True

In [ ]:
def even_odd(num):
  if num>0 or num<0:
    num=abs(num)
    if num%2==0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'please enter a value greater than zero.'
even_odd(2)

'even'

In [ ]:
def pow(x,n):
  value=1
  for i in range(1,n+1):
    value*=x
  return value

pow(2,3)

8

In [ ]:
def pow1(x,n):
  value=1
  while n!=0:
    value*=x
    n-=1
  return value
pow1(2,5)

32

In [3]:
def gcd(a,b):
  while b!=0:
    a,b=b,a%b
  return a

def lcm(a,b):
  l=int(a*b/gcd(a,b))
  return l

print(gcd(2,6))
print(lcm(2,6))

2
6

In [5]:
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact*=i
  return fact

factorial(5)

120

In [7]:
def remove_char(s,c):
  new_string=''
  for i in s:
    if i!=c:
      new_string+=i
  return new_string

remove_char('pavan','a')

'pvn'

In [12]:
def count_occurences(s,chars):
  occurences={}
  for c in chars:
    occurences[c]=0
  for c in s:
    if c in chars:
      occurences[c]+=1
  for c in chars:
    print(f"{c}:{occurences[c]}")

count_occurences('pavan','av')

a:2
v:1

In [14]:
def count_occuraence(s,c):
  count=0
  for i in s:
    if i==c:
      count+=1
  return count

count_occuraence('pavan','n')

1

In [16]:
def remove_chars(s,chars):
  result=''
  for c in s:
    if c not in chars:
      result+=c
  return result

remove_chars('pavan','pv')

'aan'

In [3]:
def check_anagram(s1,s2):
  s1=s1.lower()
  s2=s2.lower()
  freq1={}
  freq2={}
  for char in s1:
    if char in freq1:
      freq1[char]+=1
    else:
      freq1[char]=1
  for char in s2:
    if char in freq2:
      freq2[char]+=1
    else:
      freq2[char]=1
  if freq1==freq2:
    return True
  else:
    return False


print(check_anagram('pavan','naavp'))
print(check_anagram('apvan','panava'))

True
False

In [5]:
def check_palindrome(s):
  s=s.lower()
  n=len(s)
  for i in range(len(s)):
    if s[i]!=s[n-i-1]:
      return False
  return True

print(check_palindrome('pavap'))
print(check_palindrome('pajvn'))

True
False

In [7]:
def check_v_or_c(char):
  char=char.lower()
  if char in ('a','e','i','o','u'):
    return 'vowel'
  return 'consonant'


check_v_or_c('p')

'consonant'

In [16]:
def check_digit(char):
  digits={'1','2','3','4','5','6','7','8','9'}
  if char in digits:
     return True
  return False

check_digit('s')

False

In [17]:
def str_replace_gap(s,char):
  new_string=''
  for i in s:
    if i==' ':
      new_string+=char
    else:
      new_string+=i

  return new_string

str_replace_gap('pavan kumar','+')

'pavan+kumar'

In [20]:
def to_lower(s):
  new_string=''
  for c in s:
    if ord(c)>=65 and ord(c)<=90:
       new_string+=chr(ord(c)+32)
    else:
      new_string+=c
  return new_string


print(to_lower('PaVan'))

pavan

In [22]:
def al_num_sp_count(s):
  s=to_lower(s)
  alpha=num=special=0

  for i in s:
    if i >='a' and i<='z':
      alpha+=1
    elif i>='0' and i<='9':
      num+=1
    else:
      special+=1
  return alpha,num,special


al_num_sp_count('odhfohdofhoh546463@#%$$%#')

(12, 6, 7)

In [23]:
def str_split(s):
    characters=[]
    for i in range(len(s)):
      characters+=s[i]
    return characters

str_split('pavan')

['p', 'a', 'v', 'a', 'n']

In [1]:
def remove_repeating_char(s):
  result=''
  for c in s:
    if c not in result:
      result+=c
  return result

remove_repeating_char('pavnakdjll')

'pavnkdjl'

In [4]:
def ch_ascend(s):
  chars=[]
  for i in s:
    chars.append(i)
  for i in range(len(chars)):
    for j in range(i+1, len(chars)):
      if chars[i] > chars[j]:
        chars[i],chars[j] = chars[j],chars[i]
  sorted_str=''
  for i in chars:
    sorted_str+=i
  return sorted_str

ch_ascend('pavna')

'aanpv'

In [7]:
#Write a program in Python for, In array 1-100 numbers are stored, one number is missing how do you find it.
arr=list(range(1,101))
n=int(input('Enter the number of numbers:'))
m=int(input('Enter the number to remove:'))
arr.remove(m)
sum_all = n * (n+1)//2
sum_arr=sum(arr)
missing_num=sum_all-sum_arr
print(missing_num)

Enter the number of numbers:100
Enter the number to remove:52
52

In [8]:
#Write a program in Python for, In a array 1-100 multiple numbers are duplicates, how do you find it.
arr=[1,2,25,5,54,2,54,15,5,1,2,25,7,8,22]
freq_dict={}
for num in arr:
  if num in freq_dict:
    freq_dict[num]+=1
  else:
    freq_dict[num]=1
for num, freq in freq_dict.items():
  if freq>1:
    print(f"Number {num} is a duplicate with frequency {freq}")

Number 1 is a duplicate with frequency 2
Number 2 is a duplicate with frequency 3
Number 25 is a duplicate with frequency 2
Number 5 is a duplicate with frequency 2
Number 54 is a duplicate with frequency 2

In [13]:
def find_pairs(arr, num):
    pairs = []
    for i in range(len(arr)):
        for j in range(i+1, len(arr)):
            if arr[i] + arr[j] == num:
                pairs.append((arr[i], arr[j]))
    return pairs

# example usage
arr = [2, 4, 6, 8, 10, 12]
num = 14
pairs = find_pairs(arr, num)
print(pairs)

[(2, 12), (4, 10), (6, 8)]

In [1]:
def find_top_two(arr):
  max1=max2=float('-inf')
  for num in arr:
    if num>max1:
      max2=max1
      max1=num
    elif num>max2 and num!=max1:
      max2=num
  return max1,max2
arr=[1,235,4545,512,541,2584,552]
find_top_two(arr)

(4545, 2584)

In [4]:
def remove_duplicate(arr):
    new_arr=[]
    for i in arr:
        if i not in new_arr:
          new_arr+=[i]
       
    return new_arr
arr=[1,1,225,52,42,11,22,12,121,22,42]
remove_duplicate(arr)

[1, 225, 52, 42, 11, 22, 12, 121]

In [6]:
def reverse_array(arr):
  n=len(arr)
  for i in range(n//2):
      temp=arr[i]
      arr[i]=arr[n-i-1]
      arr[n-i-1]=temp
  return arr
arr = [2, 4, 6, 8, 10, 12]
reverse_array(arr)

[12, 10, 8, 6, 4, 2]

In [11]:
def remove_ele(p,arr):
  for i in range(p,len(arr)-1):
    arr[i]=arr[i+1]
  arr.pop()
  return arr

arr = [2, 4, 6, 8, 10, 12]
remove_ele(2,arr)

[2, 4, 8, 10, 12]

In [14]:
def arr_odd(arr):
  odd=[]
  for i in arr:
    if not i%2==0:
      odd+=[i]
  return odd
arr=[1,2,3,1,4,5,6,8,89,9]
arr_odd(arr)

[1, 3, 1, 5, 89, 9]

In [18]:
def remove_ele(arr,ele):
  new_arr=[]
  for i in arr:
    if i!=ele:
      new_arr+=[i]
  return new_arr
arr=[1,2,3,1,4,5,6,8,89,9]
remove_ele(arr,3)

[1, 2, 1, 4, 5, 6, 8, 89, 9]

In [20]:
def rotate_left(arr,k):
  n=len(arr)
  k=k%n
  for i in range(k):
    temp=arr[0]
    for j in range(n-1):
      arr[j]=arr[j+1]
    arr[n-1]=temp
  return arr
arr=[1,2,3,4,5]
rotate_left(arr,3)

[4, 5, 1, 2, 3]