In [1]:
num=int(input('Enter  a number:'))
while num!=5:
  print(num,num*num)
  num=int(input('Enter a number:'))

Enter  a number:2
2 4
Enter a number:3
3 9
Enter a number:5

In [2]:
count=0
while count<10:
  print(count,count*count ,count*count*count)
  count+=1

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

In [4]:
s='Mumbai'
lst=['desert','dessert','to','too','lose','loose']
tpl=(10,20,30,-20,-10,50)
i=0
while i<len(lst):
  print(i,s[i],lst[i],tpl[i])
  i+=1

0 M desert 10
1 u dessert 20
2 m to 30
3 b too -20
4 a lose -10
5 i loose 50

In [5]:
for i in range(1,10,2):
  print(i,i*i,i*i*i)

1 1 1
3 9 27
5 25 125
7 49 343
9 81 729

In [6]:
for char in 'Leopard':
  print(char)
for animal in ['cat','dog','elephant','kangaroo','lion','tiger']:
  print(animal)
for flower in ('Rose','Lily','jasmine'):
  print(flower)
for num in {10,20,30,-10,-25}:
  print(num)
for key in {'A101':'Rajesh','A111':'Sunil','A112':'Rakesh'}:
  print(key)

L
e
o
p
a
r
d
cat
dog
elephant
kangaroo
lion
tiger
Rose
Lily
jasmine
-25
10
20
-10
30
A101
A111
A112

In [7]:
for i,ele in enumerate(lst):
  print(i,ele)

0 desert
1 dessert
2 to
3 too
4 lose
5 loose

In [8]:
num=int(input('Enter an integer:'))
i=2
while i<=num-1:
  if num%i==0:
    print(num,'is not a prime number')
    break
  i+=1
else:
  print(num,'is a prime number')

Enter an integer:5
5 is a prime number

In [9]:
for ele in [10,20,30,40,3,50]:
  if ele % 10!=0:
    print(ele,'is not a multiple of 10')
  else:
    print(ele,'is a multiple of 10')

10 is a multiple of 10
20 is a multiple of 10
30 is a multiple of 10
40 is a multiple of 10
3 is not a multiple of 10
50 is a multiple of 10

In [10]:
#Write a program that recieves 3 sets of values of p,n and r and calculates simple interest for each.
i=1
while i<=3:
  p=float(input('Enter value of p:'))
  n=int(input('Enter value of n:'))
  r=float(input('Enter value of r:'))
  si=p*n*r/100
  print('Simple Interest:',si)
  i+=1

Enter value of p:100000
Enter value of n:2
Enter value of r:12.5
Simple Interest: 25000.0
Enter value of p:250000058
Enter value of n:5
Enter value of r:15.6
Simple Interest: 195000045.24
Enter value of p:25000
Enter value of n:2
Enter value of r:25.5
Simple Interest: 12750.0

In [11]:
#Write a program that prints numbers from 1 to 10 using an infinite loop. All numbers should get printed in the same line.
i=1
while 1:
  print(i,end=' ')
  i+=1
  if i>10:
    break

1 2 3 4 5 6 7 8 9 10

In [12]:
i=1
while True:
  print(i,end=' ')
  i+=1
  if i>10:
    break

1 2 3 4 5 6 7 8 9 10

In [13]:
#Write a program that prints all unique combinations of 1,2 and 3.
i=1
while i<=3:
  j=1
  while j<=3:
    k=1
    while k<=3:
      if i==j or j==k or k==i:
        k+=1
        continue
      else:
        print(i,j,k)
      k+=1
    j+=1
  i+=1

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [14]:
#Write a program that obtains decimal value of a binary numeric string.For example ,decimal value of '1111' is 15.
b='111'
i=0
while b:
  i=i*2+(ord(b[0])-ord('0'))
  b=b[1:]
print('Decimal value:'+str(i))

Decimal value:15