# **Properties of Sets:**


*   sets are like lists,with an exception that they don't contain duplicates entries.And also set is an unordered collection.
*   while storing an element in a set, it's hash value is computed using a hash technique  to determine where it should be stored in the set.
*   since hash  value of an element will always be same,no matter in which order we insert the elements in a set, they get stored in the same order.
*   it is possible to create set of strings and tuples but not set of lists.
*   since strings and tuples are immutable , their hash value remains same at all times. Hence a set of strings or tuples is permitted.However ,a  list may change ,so its hash value may change ,hence set of lists is not permitted.
*   sets are commonly used for eliminating duplicate entries and membership testing.
*   sets can't be sliced using [ ].
*   iteration process is same for sets as like lists and tuples.
*   enumerate fuction can be used to give an index for set also,but here it's just an accessing order not an insertion order.
*   if we want an immutable set ,we should use a frozenset function.
*   These operations can be performed in sets.
          
1.   conversion
2.   aliasing
3.   cloning
4.   searching
5.   identity
6.   comparision
7.   emptiness

*  These operations can't be performed in sets.
1. concatenation
2. merging

In [1]:
a=set()
b={2}
c={'sanjay',35,34555.50}
d={20,20,20,20}
d1={(0.1*3),0.3}

In [2]:
d

{20}

In [3]:
d1

{0.3, 0.30000000000000004}

In [4]:
s={12,23,45,16,52}
t={16,52,12,23,45}
u={52,12,16,45,23}
print(t)
print(u)
print(s)

{12, 45, 16, 52, 23}
{12, 45, 16, 52, 23}
{12, 45, 16, 52, 23}

In [5]:
for ele in s:
  print(ele)

12
45
16
52
23

In [6]:
s={'gate','fate','late'}
s.add('rate')

In [7]:
s

{'fate', 'gate', 'late', 'rate'}

In [8]:
s1={'morning','evening'}
s2={(12,323),(33,34),(344,343)}
s2={[23,44],[55,43]}

TypeError: ignored

In [9]:
s1

{'evening', 'morning'}

In [10]:
s2

{(12, 323), (33, 34), (344, 343)}

In [12]:
s=frozenset({'gate','fate','rate'})
s.add('late')

AttributeError: ignored

In [13]:
s

frozenset({'fate', 'gate', 'rate'})

In [15]:
lst=[1,2,3,45,5]
s=set(lst)

In [16]:
s

{1, 2, 3, 5, 45}

In [22]:
s=set(lst)
t={'A','B','C'}
u=set() ## creates an empty set.
s.add('Hello')
s.remove(2)
#s.remove(55) gives an error because s dont have that number...
s.discard(55)  # it wont give an error,even though it don't have that number...
s.update(t)
c=s.copy()
s.clear()

In [23]:
c

{1, 3, 45, 5, 'A', 'B', 'C', 'Hello'}

In [24]:
u

set()

In [27]:
s={12,15,13,23,22,16,17}
t={13,15,22}
print(s.issuperset(t))
print(s.issubset(t))
print(s.isdisjoint(t))# If the intersection of two sets is null then those are called as disjoint sets

True
False
False

In [32]:
#Mathematical set operations.
#sets
engineers={'Vijay','Sanjay','Ajay','Sujay','Dinesh'}
managers={'Aditya','Sanjay'}
print(engineers|managers)# union opeation....
print(engineers & managers)# intersection operation..
print(engineers - managers)# difference operation..
print(managers - engineers)# difference operation..
print(managers^engineers)# symmetric difference operation..
print(engineers^managers)# symmmetric difference operation..

{'Ajay', 'Aditya', 'Sujay', 'Sanjay', 'Dinesh', 'Vijay'}
{'Sanjay'}
{'Ajay', 'Dinesh', 'Vijay', 'Sujay'}
{'Aditya'}
{'Ajay', 'Aditya', 'Sujay', 'Dinesh', 'Vijay'}
{'Aditya', 'Sujay', 'Dinesh', 'Vijay', 'Ajay'}

In [34]:
a={1,2,3,4,5}
b={2,4,5}
print(a>=b)

True

In [35]:
print(a<=b)

False

In [36]:
s={'gate',{'fate','rate','late'}} # embedded list is not permitted.

TypeError: ignored

In [38]:
x={1,2,3,4}
print(*x)

1 2 3 4

In [39]:
# What will be the output of the following program.
a={10,20,30,40,50,60}
b={33,44,51,10,20,50,30,33}
print(a | b)
print(a & b)
print(a - b)
print(a ^ b)
print(a <= b)
print(a >= b)

{33, 40, 10, 44, 50, 51, 20, 60, 30}
{10, 50, 20, 30}
{40, 60}
{33, 40, 44, 51, 60}
False
False

In [41]:
# What will be the output of the following program.
a={1,2,3,4,5,6,7}
b={1,2,3,4,5,6,7}
c={1,2,3,4,5,6,7}
d={1,2,3,4,5,6,7}
e={3,4,1,0,2,5,8,9}
a|=e
print(a)
b&=e
print(b)
c-=e
print(c)
d^=e
print(d)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5}
{6, 7}
{0, 6, 7, 8, 9}

In [42]:
# Write a program to carry out the following operations on the given set,
s={10,2,-3,4,5,88}
print(len(s))
print(max(s))
print(min(s))
print(sum(s))
t=sorted(s)
print(t)
print(100 in s)
print(-3 not in s)

6
88
-3
106
[-3, 2, 4, 5, 10, 88]
False
False

In [44]:
# What will be the output of the following program?
l=[10,20,30,40,50]
t=('Sundeep',25,79.58)
s='set theory'
s1=set(l)
s2=set(t)
s3=set(s)
print(s1)
print(s2)
print(s3)

{40, 10, 50, 20, 30}
{'Sundeep', 25, 79.58}
{' ', 's', 'r', 'h', 't', 'e', 'o', 'y'}

# Properties Of Dictionaries:


*   Dictionary is a collection of key-value pairs.
*   Dictionaries are also known as maps or associative arrays.
*   Different keys may have same values.
*   Keys must be unique . If keys are same, but values are different ,latest key value pair get stored.
*   Unlike sets ,dictionaries preserve insertion order. However ,elements are not accessed using the position, but using the key.
*  Thus elements are not position indexed, but key indexed.
*  Dictionaries can't be sliced using [ ].
*  Like strings ,lists ,tuples and sets ,dictionaries too can be iterated over using a for loop. There are three ways to do so.
*  While iterating through a dictionary using a for loop.if we wish to keep track of index of the key-value pairs that is being referred to.we can do so using the built-in enumerate() function.
*  Dictionaries are mutable. So, we can perform add/delete/modify operations on a dictionary.
*  Dictionary keys can't be changed in place.
*  Following operations won't work in dictionaries.
1.  concatenation
2.  merging
3.  comparision

In [1]:
d1={}
d2={'A101':'Amol','A102':'Anil','A103':'Ravi'}
d={
    10:'a',20:'b',30:'z'
}

In [2]:
d

{10: 'a', 20: 'b', 30: 'z'}

In [3]:
d1

{}

In [4]:
d2

{'A101': 'Amol', 'A102': 'Anil', 'A103': 'Ravi'}

In [5]:
d={
    10:'a',20:'b',10:'c'
}

In [6]:
d

{10: 'c', 20: 'b'}

In [7]:
d={10:'a',20:'b',10:'a'}

In [8]:
d

{10: 'a', 20: 'b'}

In [9]:
courses={'Daa':'cs','aoa':'me','svy':'ce'}
for k,v in courses.items():
  print(k,v)
for k in courses.keys():
  print(k)
for v in courses.values():
  print(v)

Daa cs
aoa me
svy ce
Daa
aoa
svy
cs
me
ce

In [10]:
courses={'CS101':'CPP','CS102':'DS','CS201':'OOP','CS226':'DAA','CS601':'crypt','CS442':'Web'}
courses['CS444']='Web services'
courses['CS201']='OOP with java'
del(courses['CS102'])

In [13]:
for key,value in courses.items():
  print(key,':',value)

CS101 : CPP
CS201 : OOP with java
CS226 : DAA
CS601 : crypt
CS442 : Web
CS444 : Web services

In [14]:
for k,v in reversed(courses.items()):
  print(k,v)

CS444 Web services
CS442 Web
CS601 crypt
CS226 DAA
CS201 OOP with java
CS101 CPP

In [15]:
c={'hi':'bro'}
c.update(courses)

In [16]:
c

{'hi': 'bro',
 'CS101': 'CPP',
 'CS201': 'OOP with java',
 'CS226': 'DAA',
 'CS601': 'crypt',
 'CS442': 'Web',
 'CS444': 'Web services'}

In [17]:
c.popitem()

('CS444', 'Web services')

In [20]:
c.pop('CS101')

'CPP'

In [21]:
c

{'hi': 'bro',
 'CS201': 'OOP with java',
 'CS226': 'DAA',
 'CS601': 'crypt',
 'CS442': 'Web'}

In [22]:
d={(2,5):'me126',(3,2):'me102'}
contacts={
    'Anil':{'dob':'17/01/98','favorite':'Igloo'},
    'Amol':{'dob':'14/04/99','favorite':'Tundra'},
    'Ravi':{'dob':'19/11/97','favorite':'Artic'}
}

In [23]:
animals={'Tiger':141,'Lion':152,'Leopard':110}
birds={'Eagle':38,'Crow':3,'Parrot':2}

In [25]:
combined={**animals , **birds}

In [26]:
combined

{'Tiger': 141,
 'Lion': 152,
 'Leopard': 110,
 'Eagle': 38,
 'Crow': 3,
 'Parrot': 2}

In [29]:
lst=[12,1,2,5,6]
d=dict.fromkeys(lst,lst)

In [30]:
d

{12: [12, 1, 2, 5, 6],
 1: [12, 1, 2, 5, 6],
 2: [12, 1, 2, 5, 6],
 5: [12, 1, 2, 5, 6],
 6: [12, 1, 2, 5, 6]}

In [31]:
#Create a list of cricketers. Use this list to create a dictionary in which the list values become keys of the dictionary.
# Set the values of all to 50 in the dictionary created.
lst=['Sunil','Sachin','Rahul','Kapil','Sunil','Rahul']
d=dict.fromkeys(lst,50)
print(d)

{'Sunil': 50, 'Sachin': 50, 'Rahul': 50, 'Kapil': 50}

In [34]:
#Write a program to sort a dictionary in ascending / descending order by key and ascending/descending by value.
import operator
d={'Oil':230,'Clip':150,'Stud':175,'Nut':35}
d
d1=sorted(d.items())
print(d1)
d2=sorted(d.items(),reverse=True)
print(d2)
d01=sorted(d.items(),key=operator.itemgetter(1))
print(d01)
d02=sorted(d.items(),key=operator.itemgetter(1),reverse=True)
print(d02)

[('Clip', 150), ('Nut', 35), ('Oil', 230), ('Stud', 175)]
[('Stud', 175), ('Oil', 230), ('Nut', 35), ('Clip', 150)]
[('Nut', 35), ('Clip', 150), ('Stud', 175), ('Oil', 230)]
[('Oil', 230), ('Stud', 175), ('Clip', 150), ('Nut', 35)]

In [35]:
# Write a program to create three dictionaries and concatenate them to create fourth dictionary.
d1={'Mango':30,'Guava':20}
d2={'Apple':70,'Pineapple':50}
d3={'Kiwi':90,'Banana':35}
d4={}
for d in (d1,d2,d3):
  d4.update(d)
print(d4)

{'Mango': 30, 'Guava': 20, 'Apple': 70, 'Pineapple': 50, 'Kiwi': 90, 'Banana': 35}

In [37]:
d5={**d1,**d2,**d3}

In [38]:
d5

{'Mango': 30,
 'Guava': 20,
 'Apple': 70,
 'Pineapple': 50,
 'Kiwi': 90,
 'Banana': 35}

In [39]:
d6=list({*d1,*d2,*d3})

In [40]:
d6

['Mango', 'Apple', 'Kiwi', 'Banana', 'Pineapple', 'Guava']

In [41]:
#Write a program to check whether a dictionary is empty or not.
d1={'Anil':45,'Amol':32}
d2={}
if bool(d1):
  print('Dictionary is not empty')
if not bool(d2):
  print('Dictionary is empty')

Dictionary is not empty
Dictionary is empty

In [42]:
  #Suppose there are two dictionaries called boys and girls containing names as keys and ages as values.
  #Write a program to merge the two dictionaries into a third dictionary.
boys={'Nilesh':41,'Soumitra':42,'Nadeem':47}
girls={'Rasika':38,'Rajashree':43,'Rasika':45}
combined={**boys,**girls}
print(combined)

{'Nilesh': 41, 'Soumitra': 42, 'Nadeem': 47, 'Rasika': 45, 'Rajashree': 43}

In [43]:
#For the following dictionary , write a program to report the maximum and minimum salary.
d={
    'anuj':{'Salary':10000,'age':20,'height':6},
   'aditya':{'Salary':20000,'age':25,'height':5.9}   
}
lst=[]
for v in d.values():
  lst.append(v['Salary'])
print(max(lst))
print(min(lst))

20000
10000

In [46]:
#Suppose a dictionary contains roll numbers and names of students.
#Write a program to recieve the roll number, extract the name corresponding to the roll number and display a message congratulating the student by his name.
#if the roll number doesn't exist in the dictionary, the message should be 'Congratulations Student!'.
students={554:'ramesh',355:'suresh',552:'ganesh'}
rollno=int(input('Enter roll number:'))
name=students.get(rollno,'Student')
print(f'Congratulations   {name}!')
rollno=int(input('Enter roll number:'))
name=students.get(rollno,'Student')
print(f'Congratulations  {name} !')

Enter roll number:554
Congratulations   ramesh!
Enter roll number:25
Congratulations  Student !