In [1]:
# Though a list can store can store dissimalar data , it is commonly used for similar data.
#Though  a tuple can store similar data it is commonly used for storing disimillar data. The tuple data is enclosed within () as shown below.
a=()
b=(10,)
c=('Sanjay',25,355540)
d=(10,2,0,30)

In [2]:
tpl1=(10,)*5

In [3]:
tpl1

(10, 10, 10, 10, 10)

In [4]:
tpl2=(10)*5

In [5]:
tpl2

50

In [6]:
msg=('Handle','Exceptions','Like','Boss')
msg[2]

'Like'

In [7]:
msg[:2]

('Handle', 'Exceptions')

In [8]:
d

(10, 2, 0, 30)

In [10]:
i=0
while i<len(d):
  print(d[i])
  i+=1
print('\n')
for i in d:
  print(i)

10
2
0
30


10
2
0
30

In [14]:
for index,value in enumerate(d):
  print(tuple([index,value]))

(0, 10)
(1, 2)
(2, 0)
(3, 30)

In [15]:
msg[0]='pavan'

TypeError: ignored

In [16]:
# list inside a tuple.
s=([1,2,3,4],[10,20],'pavan')
s[1][1]='pav'

In [17]:
s

([1, 2, 3, 4], [10, 'pav'], 'pavan')

In [18]:
#All other operations for tuple are same as lists...

In [19]:
#Pass a tuple to the divmod() function and obtain the quotient and the remainder.
result=divmod(17,5)
result

(3, 2)

In [20]:
t=(5,2)
r=divmod(*t)

In [21]:
r

(2, 1)

In [23]:
lst=['Shubha','Nisha','Sudha',('Suresh',),('Rajesh',),'Radha']
boys=0
girls=0
for ele in lst:
  if isinstance(ele,tuple):
    boys+=1
  else:
    girls+=1
print('Boys:',boys,'Girls:',girls)

Boys: 2 Girls: 4

In [24]:
#A list contains tuples containing roll number , names and age of student.Write a Python program to gather all the names from this list into another list.
lst=[('A101','Shubha',23),('A104','Nisha',25),('A111','Sudha',24)]
nlst=[]
for ele in lst:
  nlst=nlst+[ele[1]]
print(nlst)

['Shubha', 'Nisha', 'Sudha']

In [25]:
# Write a python program to carry out the following operations.
tpl=('F','I','a','b','b','e','r','g','a','s','t','e','d')
tpl=tpl+('!',)
str(tpl)

"('F', 'I', 'a', 'b', 'b', 'e', 'r', 'g', 'a', 's', 't', 'e', 'd', '!')"

In [26]:
s=''.join(tpl)

In [27]:
s

'FIabbergasted!'

In [28]:
c=tpl.count('e')

In [29]:
c

2

In [30]:
'r' in tpl

True

In [31]:
'l' in tpl

False